div.footer
    div.footer__logo
        img(src='img/logo.png' alt='Course logo')
    ul.footer__nav
        li:a(href='#') About us
        li:a(href='#') Download Course information)
        li:a(href='#') Sign up for the Course
        li:a(href='#') Careers
        li:a(href='#') Contact

    p.footer__copyright &copy; by Student Learners.