extends baseTemplate

block content 
    // LOGIN FORM
    main.main
      .card-container
        .card
          .card__header
            .card__details
              h4.card__sub-heading Login
              p.ard__text Please enter the following Details
              .card__data
              form(action='/api/v1/users/login' method='post')
                label(for='rmail') Email:
                input(type='text' id='email' name='email')
                label(for='fname') Password:
                input(type='password' id='password' name='password')
                input.card__sub-heading( type='submit' value='Log In')
